@model Parcial_.Models.Equipos

@{
    ViewBag.Title = "Crear Equipo";
}

<h1>Crear Equipo</h1>

<form method="post" asp-action="Guardar">
    <div class="form-group">
        <label for="nombre">Nombre del Equipo</label>
        <input type="text" class="form-control" id="nombre" name="Nombre" required />
        <span class="text-danger" asp-validation-for="Nombre"></span>
    </div>
    
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
</form>